@page "/"
@using Node.Net.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<!-- Integration test: SystemInfo component (TDD - will fail until component exists) -->
<SystemInfo />